*{margin: 0px; padding: 0px; box-sizing: border-box;}
a {
    text-decoration: none;
    color: inherit;
}
li { list-style: none; }
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}
.back_btn {
    position: fixed;
    right: 30px;
    top: 24px;
    z-index: 1000;
    border-radius: 30px;
    border: 1px solid #ff822e;
    color: #ff822e;
    background-color: #fff;
    width: fit-content;
    line-height: 30px;
    padding: 0px 10px;
    transition: all 0.3s ease;
    &:hover {
        background-color: #ff822e;
        color: #fff;
    }
}
.order_wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 20px;
}
.work_space {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .side_wrapper {
        width: 300px;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: all 0.3s ease;
        .main_logo {
            width: 100%;
            min-height: 70px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            .logo {
                width: 80px;
                height: 100%;
                background-image: url('../img/logo.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .qr {
                width: 50px;
                height: 100%;
                background-image: url('../img/qr.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: auto;
            }
        }
        .list_wrapper {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            margin-bottom: 30px;
            padding-top: 30px;
            h2 {
                position: unset;
                left: unset;
                right: unset;
                transform: unset;
                padding-left: 10px;
            }
            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                padding: unset;
                .list_item {
                    width: 100%;
                    height: 50px;
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 6px;
                        padding: 0px 10px;
                        span {
                            display: inline-block;
                            width: fit-content;
                            min-width: 52px;
                            height: 20px;
                            line-height: 1.8;
                            font-size: 12px;                        
                            padding: 0px 8px;
                            background-color: #e45454;
                            border-radius: 30px;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            &.not {
                                background-color: #959db3;
                            }
                            &.work {
                                background-color: #2b73fa;
                            }
                            &.ok {
                                background-color: #4CDFA2;
                            }
                        }
                    }
                }
            }
        }
    }
    .view_area {
        position: relative;
        width: calc(100% - 0px);
        height: 100%;
        margin-left: 0px;
        transition: all 0.3s ease;
        padding: 90px 30px 30px;
        background-color: #909090;
        .alert {
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            color: #ffffff;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: 0px;
            outline: none;
        }
    }
    &.open {
        .side_wrapper {
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .view_area {
            width: calc(100% - 300px);
            margin-left: 300px;
        }
    }
    &.close {
        .side_wrapper {
            position: absolute;
            top: 0px;
            left: -300px;
        }
        .view_area {
            width: calc(100% - 0px);
            margin-left: 0px;
        }
    }
}


.title_wrapper {
    position: relative;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    .qr_sample {
        position: absolute;
        top: 55px;
        right: 0px;
        width: 130px;
        height: 130px;
        background-image: url('../img/qr.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.title_wrapper h1 {
    margin-bottom: 20px;
    
}
.title_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.title_inner_col {
    max-width: 500px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.title_inner p:first-child::after {
    content: ':';
    margin-right: 10px;
    margin-left: 4px;
}
.desc_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.desc {
    max-width: 500px;
    line-height: 22px;
}
.link_wrapper {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.cate_wrapper {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #333333;
}
h2 {
    position: absolute;
    white-space: nowrap;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0px 10px;
}
ul {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 40px 10px 10px;
}
a:hover {
    color: #ff822e;
}
.not-yet {
    text-decoration: line-through !important;
    color: #aaa;
}
.not-yet:hover {
    cursor: default;
    color: #aaa;
}
.progress {
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 30px;
    margin-bottom: 10px;
}
.progress div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
    background-color: #ff822e;
    border-radius: 30px;
    &::after {
        content: '40%';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
    }
}